body {
    text-align: center;
    color: white;
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
}